<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="MsSql" 
			 connectionString="Server=DESKTOP-QPOC1B8\SQLEXPRESS;Database=D:\BD\UB\EP_UB.MDF;User Id=adm;Password=12;" 
			 providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>